# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project
config/
/logs/
options.txt
/saves/
/out

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
/build/
/out/
/run/
eclipse
run
